.table-pdf tr {
    margin: 0;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-pdf tr td {
    padding: 4px;
    font-size: 12px;
}

.table-pdf tr td input {
    outline: none;
    border: none;
    font-size: 12px;
    width: 100%;
}